<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Coding Nation</h1>
    <p>Here, you can search for resources around the U.S.A. and online to help you learn to code.</p>
  <p><a class="btn btn-primary btn-lg" href="/code_programs" role="button">View All Resources</a></p>
  </div>
</div>
