// Place all the styles related to the code_programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-box {
  background: lightgrey;
  border-radius: 10px;
  height: auto;
  margin: 5px;
  padding: 5px 10px 10px;
}

nav {
    background-color: #839496;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0.02px 0;
}